items assets kind software-package url http://cjqmipa2.tuziurl.com/10037/com.enterprise.EBYC16/lauj68@163.com/1566896400459/app.ipa kind display-image url http://file.cjtuzi.com/app/10037/com.enterprise.EBYC16/ios/icon.png kind full-size-image url http://file.cjtuzi.com/app/10037/com.enterprise.EBYC16/ios/icon.png metadata bundle-identifier com.enterprise.* bundle-version 2.0.0 kind software title 彩票棋牌
